body {
  background: linear-gradient(83deg, #43be9e, #361fcd);
  background-size: 400% 400%;
  
  -webkit-animation: AnimationName 30s ease infinite;
  -moz-animation: AnimationName 30s ease infinite;
  animation: AnimationName 30s ease infinite;
  
  @-webkit-keyframes AnimationName {
      0%{background-position:0% 10%}
      50%{background-position:100% 91%}
      100%{background-position:0% 10%}
  }
  @-moz-keyframes AnimationName {
      0%{background-position:0% 10%}
      50%{background-position:100% 91%}
      100%{background-position:0% 10%}
  }
  @keyframes AnimationName { 
      0%{background-position:0% 10%}
      50%{background-position:100% 91%}
      100%{background-position:0% 10%}
  }

.p {
  line-height: 1.5em; 
  border: solid 0px; 
  border-radius: 10%; 
}

.container {
  margin: 0px; 
  border: solid 1px; 
  border-radius: 10%; 
  color: red; 

}