body {
  background: linear-gradient(270deg, #079762, #11326e);
background-size: 400% 400%;

-webkit-animation: AnimationName 30s ease infinite;
-moz-animation: AnimationName 30s ease infinite;
animation: AnimationName 30s ease infinite;

@-webkit-keyframes AnimationName {
    0%{background-position:38% 0%}
    50%{background-position:63% 100%}
    100%{background-position:38% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:38% 0%}
    50%{background-position:63% 100%}
    100%{background-position:38% 0%}
}
@keyframes AnimationName { 
    0%{background-position:38% 0%}
    50%{background-position:63% 100%}
    100%{background-position:38% 0%}
}
}

.header1 {
  color: black; 
  text-align: center; 
  background-color: white; 
  border: 1px solid; 
  font-family: 'Vollkorn', serif;
}

.playerguesses {
  background-color: red; 
  color: yellow; 
  
}

img {
  background-color: blue; 
  border: 3px solid; 
  border-color: black; 
  border-radius: 5%; 
  align-content: center; 
  margin-left: 300px; 
  
 

}

h2 {
  text-align: center; 
}

.sidebar {
  text-decoration: underline; 
}

.container {
  background-color: white; 
  border: 0px solid; 
  border-radius: 2%; 
  position: center; 
  

}




.container {
  font-family: 'Vollkorn', serif;
  
  color: black; 
  line-height: 2.5em;
  font-size: 10em; 
  
}

footer {
  background-color: black; 
}



